body {
  margin: 0;
  padding: 0;
}

.onboard-video-container {
  position: relative;
  height: 80vh;
  margin-inline: auto;
}

.onboard-audio-icon {
  position: absolute;
  top: 10.65%;
  left: 4.85%;
  height: 45px;
  width: 45px;
}
.onboard-adVideo {
  height: inherit;
  margin-inline: auto;
  width: inherit;
}

.onboard-adVideo video {
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  border: 0;
  width: 100%;
}

.onboard-form-container {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px 12px;
  background-image: linear-gradient(rgba(22, 24, 28, 0), rgb(22, 24, 28), rgb(22, 24, 28), rgb(22, 24, 28));
}

.onboard-form-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .onboard-form-container {
    width: auto;
    height: auto;
  }
}
